apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: minigames
spec:
  selector:
    app: web
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: minigames
spec:
  selector:
    app: auth
  ports:
  - port: 3001
    targetPort: 3001
    nodePort: 30001
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: tictactoe-service
  namespace: minigames
spec:
  selector:
    app: tictactoe
  ports:
  - port: 3002
    targetPort: 3002
    nodePort: 30002
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: chat-service
  namespace: minigames
spec:
  selector:
    app: chat
  ports:
  - port: 3003
    targetPort: 3003
    nodePort: 30003
  type: NodePort